{
PreferenceSpecifiers = (

{
Title = "";
Type = PSGroupSpecifier;
},

{
Title = "";
Type = PSGroupSpecifier;
},

{
Title = "";
Type = PSGroupSpecifier;
},

{
Title = "";
Type = PSGroupSpecifier;
},

{
Title = "";
Type = PSGroupSpecifier;
},



{
Title = "Open source libraries:

FHCircleView
Copyright (c) 2013 rootof.net. All rights reserved.

FXPageControl
Copyright 2010 Charcoal Design

SSZipArchive
Copyright (c) Sam Soffes 2010-2011. All rights reserved.

minizip
Copyright (C) 1998-2010 Gilles Vollant

Modifications of Unzip for Zip64
Copyright (C) 2007-2008 Even Rouault

Modifications for Zip64 support on both zip and unzip
Copyright (C) 2009-2010 Mathias Svensson

DSLCalendarView
Copyright (c) 2012 Dative Studios. All rights reserved.
 
HexColor
Copyright (c) 2013 Marius Landwehr marius.landwehr@gmail.com
MIT License

MMDrawerController
Copyright (c) 2013 Mutual Mobile
MIT License

SVProgressHUD
Copyright 2011 Sam Vermette. All rights reserved.

TSMessageView
Copyright (c) 2012 Felix Krause. All rights reserved.

TTCounterLabel
Copyright (c) 2013 Triggertrap. All rights reserved.

TTTAttributedLabel
Copyright (c) 2011 Mattt Thompson
MIT License

XYPieChart
Copyright (c) 2012 Xiaoyang Feng. All rights reserved.
MIT License


Disclaimer:

TrackMyDay application was created for your personal needs only. The main purpose of the application - to help you understand how you spend your time during the day.

TrackMyDay application does not claim to be absolute accuracy in time measurement. Therefore, if you are not satisfied with the accuracy of the time counter in TrackMyDay - please choose a more appropriate source or tool for time measurement.

In no event shall TrackMyDay application be liable for any damages whatsoever, and in particular, TrackMyDay application shall not be liable for special, indirect, consequential, or incidental damages, or damages for lost profits, health risks, loss of revenue, or loss of use, arising out of or related to the TrackMyDay application or the information contained in it, whether such damages arise in contract, negligence, tort, under statute, in equity, at law or otherwise.";

Type = PSGroupSpecifier;
}

);
}
