<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Meals</string>
		<key>hexColor</key>
		<string>#FFCFAB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Personal care</string>
		<key>hexColor</key>
		<string>#52EDC7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Transport</string>
		<key>hexColor</key>
		<string>#79689A</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Working</string>
		<key>hexColor</key>
		<string>#DEAA88</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Education</string>
		<key>hexColor</key>
		<string>#34AADC</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dating</string>
		<key>hexColor</key>
		<string>#CDA4DE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Self development</string>
		<key>hexColor</key>
		<string>#9ACEEB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Housework</string>
		<key>hexColor</key>
		<string>#F780A1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shopping</string>
		<key>hexString</key>
		<string>#46EA78</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sports</string>
		<key>hexColor</key>
		<string>#FFFF99</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cooking</string>
		<key>hexColor</key>
		<string>#B3D557</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Walking</string>
		<key>hexColor</key>
		<string>#3A77A1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TV</string>
		<key>hexColor</key>
		<string>#1CAC78</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Music</string>
		<key>hexColor</key>
		<string>#FEDD99</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Games</string>
		<key>hexColor</key>
		<string>#448B9D</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Social networks</string>
		<key>hexColor</key>
		<string>#C24655</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Family</string>
		<key>hexColor</key>
		<string>#FE9063</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Friends</string>
		<key>hexColor</key>
		<string>#4FA99F</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Party</string>
		<key>hexColor</key>
		<string>#CA4677</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hobby</string>
		<key>hexColor</key>
		<string>#C79975</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Procrastination</string>
		<key>hexColor</key>
		<string>#95918C</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sleep</string>
		<key>hexColor</key>
		<string>#F0D55D</string>
	</dict>
</array>
</plist>
